
<!DOCTYPE html>
<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <div style="height: 305px" >
        <video src="video\Code_flythough_loop_01_Videvo.mov" autoplay="true" loop="true" preload="auto" />
        </div>
        <div class="header-overlay"></div>
        <div class="header-content align-self-center in-middle">
            <h1>
                <img class="header-primary1-logoonly" src="images\logoonlybeveledtransbg.gif"/>
                <span class="header-primary1">James</span>
                <span class="header-primary-line">|</span>
                <span class="header-primary2"> Garloff</span>
            </h1>
            <h2> Web Development</h2>
            <p>Available for: Permanent Hire and Freelance Work</p>
            <a class="btn" ng-click="gotoAnchor(1)" >Find Out More</a>
        </div>
    </div>
</header>

<section class="section section-a" id="anchor1">
    <br/>
    <br/>
    
    <div class="container" >

        <div class="row">
            <div class="col-lg-12 col-md-4">
                <h3 ><i class="fa fa-check-circle"></i> Built with:</h3>
                <br/>
                <h4><img src="images\angularjs1.gif" class="builtwith-logo"/>AngularJS, <img src="images\htmlcssbootstrap.gif" class="builtwith-logo"/>HTML5 / CSS3 / Bootstrap4, <img src="images\javascript.gif" class="builtwith-logo"/>JavaScript (ECMA6) </h4>
                <br/>
                <br/>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</section>
<!-- /.section -->


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Demos of Personal Projects</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                Css Grid Example
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                SSO Authentication 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                Demo3            
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>&nbsp;</h2>
                <h2>&nbsp;</h2>
                <br/>
                <br/>
 
                <hr>
            </div>
        </div>
        <!-- /.row -->
            
    </div>
    <!-- /.container -->

</div>


<!-- /.section -->


 